version: "3.8"
services:
  backend:
    image: renmher/todo-frontend:latest
    ports:
      - "5000:5000"
    restart: always

  frontend:
    image: renmher/todo-backend:latest
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

